<% provide(:title, '試験問題作成') %>
<%= form_for @problem, :url => {:controller => 'problem', :action => 'new'} do |f| %>
	<%= render 'shared/error_messages', info: notice, object: f.object %>
	<%= f.hidden_field :id %>
	<table>
		<tr>
			<th align="left">試験区分　</th>
			<td><%= f.select(:test_category_id, @test_categories, {}, {:style=>"width:80px"} )%></td>
		</tr>
		<tr>
			<th align="left">問題番号　</th>
			<td><%=f.number_field :problem_no, {:style=>"width:65px"} %></td>
		</tr>
	</table>
	<table>
		<tr>
			<th align="left">問題内容　</th>
			<td><%=f.text_area :problem_content, {:size=>"20x10",:style=>"width:500px"} %></td>
		</tr>
	</table>
	<table>
		<tr>
			<th align="left">解答候補１</th>
			<td><%=f.text_field :answer_candidate1 %></td>
		</tr>
		<tr>
			<th align="left">解答候補２</th>
			<td><%=f.text_field :answer_candidate2 %></td>
		</tr>
		<tr>
			<th align="left">解答候補３</th>
			<td><%=f.text_field :answer_candidate3 %></td>
		</tr>
		<tr>
			<th align="left">解答候補４</th>
			<td><%=f.text_field :answer_candidate4 %></td>
		</tr>
		<tr>
			<th align="left">解答</th>
			<td>
			解答候補１: <%= f.radio_button 'model_answer', '1', {:checked => true, :style=>"margin-bottom:5px"} %>&nbsp;&nbsp;
			解答候補２: <%= f.radio_button 'model_answer', '2', {:style=>"margin-bottom:5px"} %>&nbsp;&nbsp;
			解答候補３: <%= f.radio_button 'model_answer', '3', {:style=>"margin-bottom:5px"} %>&nbsp;&nbsp;
			解答候補４: <%= f.radio_button 'model_answer', '4', {:style=>"margin-bottom:5px"} %>
			</td>
		</tr>
		<tr>
			<th align="left">解説</th>
			<td><%=f.text_area :commentary, {:size=>"20x5",:style=>"width:500px"} %></td>
		</tr>
	</table>
	<br/>
	<%= f.submit "更新" %>
<% end %>
<table border="1" style="width:100%;margin-top:10px">
	<tr style="background-color:#FFA500">
		<th colspan="6">試験問題一覧</th>
	</tr>
	<tr style="background-color:#FFA500">
		<th width="10%">試験区分</th>
		<th width="10%">問題番号</th>
		<th width="60%">問題内容</th>
		<th width="10%">解答</th>
		<th width="5%"></th>
		<th width="5%"></th>
	</tr>
	<% @problems.each_with_index do |problem, i| %>
	<tr style=<%= (i%2==0) ? "background-color:#F5F5DC" : "background-color:#F0E68C" %>>
		<td><%= problem.test_category_id %></td>
		<td><%= problem.problem_no %></td>
		<td nowrap><%= problem.problem_content %></td>
		<td nowrap><%= problem.model_answer %></td>
		<td><%= link_to "更新", problem_update_path(:test_category_id => problem.test_category_id,:problem_no => problem.problem_no) %></td>
		<td><%= link_to '削除', problem_destory_path(:test_category_id => problem.test_category_id,:problem_no => problem.problem_no) %></td>
	</tr>
	<% end %>
</table>
<%= will_paginate @problems, :previous_label=>'«前', :next_label=>'次»' %> 
<br/>
<%= button_to "メインメニューへ戻る", main_menu_index_path %>